# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=
CDK_DEFAULT_ACCOUNT=
CDK_DEFAULT_REGION=us-east-1

# Environment
NODE_ENV=development
STAGE=staging

# Database Configuration
DB_HOST=
DB_PORT=5432
DB_NAME=wildshoot
DB_USERNAME=
DB_PASSWORD=

# Development Only
SKIP_PREFLIGHT_CHECK=true