# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# AWS_SESSION_TOKEN=  # only needed for temporary/assumed-role credentials

# AWS Configuration
AWS_REGION=us-west-2
AWS_ACCOUNT_ID=
CDK_DEFAULT_ACCOUNT=
CDK_DEFAULT_REGION=us-west-2

# Environment
NODE_ENV=development
STAGE=staging

# Database Configuration
DB_HOST=
DB_PORT=5432
DB_NAME=wildshoot
DB_USERNAME=
DB_PASSWORD=

# Development Only
SKIP_PREFLIGHT_CHECK=true